@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
  background: #FED1D3;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#scene{
    opacity: 0.12;
}

.container {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
}

.btn {
  font-size: 1.24em;
  font-family: 'Press Start 2P', cursive;
  width: 200px;
  height: 70px;
  background: #FED1D3;
  border: 0px;
  position: relative;
  box-shadow: 
    inset -4px 2px 1px 1px #D70104,
    inset -4px -2px 1px 1px #BFF914,
    inset 4px 0px 1px 1px #941AF8;   
}

.btn:hover {
  cursor: pointer;
	background-color: #fed1d3d7;
}

.btn:active {
  top: 5px;
  box-shadow: 
    -4px 2px 1px 1px grey,
    -4px -2px 1px 1px lightgray,
    4px 0px 1px 1px lightgray; 
}

.btn::after {
  content: '';
  background: black;
  position: absolute;
  left: -2.5%;
  top: 0;
  width: 105%;
  height: 100%;
  z-index: -1;
}

.btn::before {
  content: '';
  background: black;
  position: absolute;
  left: 0;
  top: -5%;
  width: 100%;
  height: 113%;
  z-index: -1;
}